@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

// Variables //
$base-color: #ffffff;
$special-color: #dd8d04;
$dark-color: #414141;
$semi-dark-color: #6c6c6c;

$overlay: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));

@mixin xs {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin sm {
  @media (min-width: 769px) and (max-width: 1023px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 1024px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

.is-18x18 {
  height: 18px;
  width: 18px;
}

.is-special {
  background-color: $special-color;
  border-color: transparent;
  color: $base-color;

  &:hover {
    border: 1px solid $special-color;
  }
}

.is-horizontal-center {
  justify-content: center;
}

#button-scroll-up {
  display: inline-block;
  background-color: $special-color;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  &:after {
    content: "⇡";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }

  &:hover {
    cursor: pointer;
    background-color: #333;
  }

  &:active {
    background-color: #555;
  }
}

.scroll-up-show {
  opacity: 1 !important;
  visibility: visible !important;
}

section[id^="section"] {
  padding-top: 8rem;
  padding-bottom: 5rem;

  @include xs {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @include sm {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  h2.title {
    color: $dark-color;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3.1875rem;
    margin-bottom: 3.375rem;
  }

  p {
    color: $semi-dark-color;
    font-weight: 300;
    line-height: 1.75rem;
    margin-bottom: 2rem;
  }
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.pt-4 {
  padding-top: 4rem;
}

.flex-align-items-center {
  align-items: center;
}

.container {
  @include xs {
    padding: 1rem;
  }

  @include sm {
    padding: 1rem;
  }
}

.hero {
  background: $overlay, url(../img/hero-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  // @include sm {
  //   min-height: 80vh;
  // }

  nav {
    padding: 4rem 15rem;

    @include xs {
      padding: 2rem 3rem;
    }

    @include sm {
      padding: 2rem 3rem;
    }

    .navbar-burger {
      color: #dd8d04;
    }

    .navbar-brand {
      .navbar-item {
        transition: all 0.3s ease;

        &:hover {
          padding-left: 2rem;
          transition: all 0.3s ease;
        }
      }

      img {
        max-height: 2.75rem;
      }
    }

    .navbar-menu.is-active {
      background-color: $special-color;

      .navbar-end {
        text-align: center;

        .has-dropdown {
          margin: 0 1rem;
        }
      }
    }

    .navbar-end {
      align-items: center;

      .navbar-item,
      .navbar-link {
        color: $base-color;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 0.3s ease;

        &:hover {
          color: $special-color;
          background: transparent;
        }
      }

      .navbar-item.has-dropdown {
        background: $base-color;
        border-radius: 25px;
        margin-left: 4rem;
        transition: all 0.3s ease;

        .navbar-link.is-active,
        .navbar-link:focus,
        .navbar-link:focus-within,
        .navbar-link:hover,
        a.navbar-item.is-active,
        a.navbar-item:focus,
        a.navbar-item:focus-within,
        a.navbar-item:hover {
          background-color: $base-color;
          color: #3273dc;
          transition: all 0.3s ease;
        }
        .navbar-item.has-dropdown.is-active .navbar-link,
        .navbar-item.has-dropdown:focus .navbar-link,
        .navbar-item.has-dropdown:hover .navbar-link {
          background-color: $base-color;
          transition: all 0.3s ease;
        }

        .navbar-dropdown {
          box-shadow: none;
          border-top: none;

          .navbar-item {
            .image {
              transition: all 0.3s ease;
            }

            &:hover .image {
              margin-left: 1rem;
              transition: all 0.3s ease;
            }
          }
          a.navbar-item {
            padding-right: 1rem;
          }
        }
      }
    }
  }

  .hero-body {
    align-items: center;
    margin-top: -10rem;

    @include xs {
      margin-top: 0;
    }

    @include sm {
      margin-top: 4rem;
    }

    @include md {
      margin-top: 14rem;
    }

    .title {
      font-size: 7rem;
      font-weight: 700;
      line-height: 8rem;
      text-align: center;
      color: $base-color;

      @include xs {
        font-size: 6rem;
        line-height: 6rem;
      }

      @include sm {
        font-size: 6rem;
        line-height: 6rem;
      }

      span {
        color: $special-color;
      }
    }

    .subtitle {
      color: $base-color;
      font-size: 1.8rem;
      line-height: 2.4rem;
      text-align: center;
      width: 70%;
      margin: auto;

      @include xs {
        width: 90%;
        font-size: 1.55rem;
        line-height: 2rem;
      }
    }
  }
}

.about {
  p {
    @include xs {
      text-align: justify;
    }

    @include sm {
      text-align: justify;
    }
  }

  img {
    @include xs {
      margin: 0 auto;
      display: flex;
    }
  }
}

.tyres {
  img {
    min-width: 12.75rem;
  }

  p {
    @include xs {
      text-align: justify;
    }
  }

  .is-mobile {
    @include xs {
      flex-flow: row wrap;
    }
  }

  .orders {
    @include xs {
      display: flex;
      flex-direction: column;

      .order:first-of-type {
        order: 2;
      }
    }

    @include sm {
      display: flex;
      flex-direction: column;

      .order:first-of-type {
        order: 2;
      }
    }
  }

  .shop {
    @include xs {
      margin-top: 2rem;
    }

    a {
      transition: all 0.3s ease-in-out;
      img {
        max-height: 120px;
      }

      .allegro-logo {
        max-height: 90px !important;
      }

      &:hover {
        transform: scale(0.95);
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.contact {
  h3.subtitle {
    font-size: 1.6rem;
  }
  h4 {
    font-weight: 700;
    font-size: 1rem;
  }
  span,
  a {
    display: block;
    font-size: 0.9rem;
    padding: 0.2rem;
  }

  a {
    color: $special-color;
    transition: all 0.3s ease;

    &:hover {
      background: $special-color;
      color: $base-color;
    }
  }

  .columns {
    margin-bottom: 2rem;
  }
}

.footer {
  background: $base-color;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
