@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

// Variables //
$base-color: #ffffff;
$special-color: #dd8d04;
$dark-color: #414141;
$semi-dark-color: #6c6c6c;

$overlay: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

.is-18x18 {
  height: 18px;
  width: 18px;
}

.is-special {
  background-color: $special-color;
  border-color: transparent;
  color: $base-color;

  &:hover {
    border: 1px solid $special-color;
  }
}

section[id^="section"] {
  padding-top: 8rem;
  padding-bottom: 5rem;

  h2.title {
    color: $dark-color;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3.1875rem;
    margin-bottom: 3.375rem;
  }

  p {
    color: $semi-dark-color;
    font-weight: 300;
    line-height: 1.75rem;
    margin-bottom: 2rem;
  }
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.pt-4 {
  padding-top: 4rem;
}

.flex-align-items-center {
  align-items: center;
}

.hero {
  background: $overlay, url(../img/hero-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  nav {
    padding: 4rem 15rem;

    .navbar-brand img {
      max-height: 2.75rem;
    }

    .navbar-end {
      align-items: center;

      .navbar-item,
      .navbar-link {
        color: $base-color;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 0.3s ease;

        &:hover {
          color: $special-color;
          background: transparent;
        }
      }

      .navbar-item.has-dropdown {
        background: $base-color;
        border-radius: 25px;
        margin-left: 4rem;
        transition: all 0.3s ease;

        .navbar-link.is-active,
        .navbar-link:focus,
        .navbar-link:focus-within,
        .navbar-link:hover,
        a.navbar-item.is-active,
        a.navbar-item:focus,
        a.navbar-item:focus-within,
        a.navbar-item:hover {
          background-color: $base-color;
          color: #3273dc;
          transition: all 0.3s ease;
        }
        .navbar-item.has-dropdown.is-active .navbar-link,
        .navbar-item.has-dropdown:focus .navbar-link,
        .navbar-item.has-dropdown:hover .navbar-link {
          background-color: $base-color;
          transition: all 0.3s ease;
        }

        .navbar-dropdown {
          box-shadow: none;
          border-top: none;

          .navbar-item {
            .image {
              transition: all 0.3s ease;
            }

            &:hover .image {
              margin-left: 1rem;
              transition: all 0.3s ease;
            }
          }
          a.navbar-item {
            padding-right: 1rem;
          }
        }
      }
    }
  }

  .hero-body {
    align-items: center;
    margin-top: -10rem;
    .title {
      font-size: 7rem;
      font-weight: 700;
      line-height: 8rem;
      text-align: center;
      color: $base-color;

      span {
        color: $special-color;
      }
    }

    .subtitle {
      color: $base-color;
      font-size: 1.8rem;
      line-height: 2.4rem;
      text-align: center;
      width: 70%;
      margin: auto;
    }
  }
}

.tyres {
  img {
    min-width: 12.75rem;
  }

  .shop {
    a {
      transition: all 0.3s ease-in-out;
      img {
        max-height: 120px;
      }

      &:hover {
        transform: scale(0.95);
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.contact {
  h3.subtitle {
    font-size: 1.6rem;
  }
  h4 {
    font-weight: 700;
    font-size: 1rem;
  }
  span,
  a {
    display: block;
    font-size: 0.9rem;
    padding: 0.2rem;
  }

  a {
    color: $special-color;
    transition: all 0.3s ease;

    &:hover {
      background: $special-color;
      color: $base-color;
    }
  }

  .columns {
    margin-bottom: 2rem;
  }
}

.footer {
  background: $base-color;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
