@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

// Variables //
$base-color: #FFFFFF;
$special-color: #DD8D04;
$dark-color: #414141;
$semi-dark-color: #6C6C6C;

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}