@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

.img-zoom {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.img-zoom:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.is-special {
  background-color: #dd8d04;
  border-color: transparent;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  font-weight: bold;
}

.is-special:hover {
  color: #dd8d04;
  background-color: transparent;
  border: 1px solid #dd8d04;
}

.is-special-contact {
  background-color: transparent;
  border-color: transparent;
  color: #dd8d04;
  text-decoration: none !important;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 0.1rem 1rem;
}

.is-special-contact:hover {
  background-color: #1e87f0;
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.is-24 {
  width: 24px;
}

.is-300 {
  width: 300px;
}

.is-200 {
  width: 200px;
}

.is-150 {
  width: 150px;
}

.is-100 {
  width: 100px;
}

.is-margin-img {
  margin: 0 auto;
  display: block;
}

.uk-grid {
  margin-left: 0;
}

#button-scroll-up {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 40px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #dd8d04;
  color: #ffffff;
  cursor: pointer;
  padding: 15px;
}

#button-scroll-up:hover {
  background-color: #1e87f0;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url(../img/hero-img.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../img/hero-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

header .uk-logo img {
  max-height: 2.75rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .uk-logo:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .uk-navbar-nav li a {
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  min-height: auto;
}

header .uk-navbar-nav li:hover > a,
header .uk-navbar-nav li > a.uk-open,
header .uk-navbar-nav li > a:focus {
  color: #dd8d04;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .uk-navbar-dropdown-nav li a {
  color: #414141;
}

header .uk-navbar-dropdown-nav li.uk-active a {
  color: #dd8d04;
}

#s-hero {
  min-height: 70vh;
}

#s-hero h1 {
  color: #ffffff;
  font-size: 7rem;
}

#s-hero h1 span {
  color: #dd8d04;
}

#s-hero p {
  color: #6c6c6c;
  color: #ffffff;
  font-size: 2rem;
}

#s-contact .uk-card-primary.is-special {
  background-color: #dd8d04;
  border-radius: 0;
}

@media (max-width: 639px) {
  #s-hero h1 {
    font-size: 1rem;
  }
  #s-hero p {
    font-size: 1rem;
  }
}

@media (max-width: 959px) {
  #s-hero h1 {
    font-size: 2rem;
  }
  #s-hero p {
    font-size: 1rem;
  }
}

@media (max-width: 1199px) {
  #s-hero h1 {
    font-size: 3rem;
  }
  #s-hero p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */