@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap");

// Variables //
$base-color: #ffffff;
$special-color: #dd8d04;
$dark-color: #414141;
$semi-dark-color: #6c6c6c;
$overlay: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
$f-small: 1rem;

@mixin s {
  @media (max-width: 639px) {
    @content;
  }
}
@mixin m {
  @media (max-width: 959px) {
    @content;
  }
}
@mixin l {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin xl {
  @media (max-width: 1599px) {
    @content;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  // font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif !important;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

.is-special {
  background-color: $special-color;
  border-color: transparent;
  color: $base-color;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  font-weight: bold;

  &:hover {
    color: $special-color;
    background-color: transparent;
    border: 1px solid $special-color;
  }
}

.is-special-contact {
  background-color: transparent;
  border-color: transparent;
  color: $special-color;
  text-decoration: none !important;
  transition: all 0.4s ease-in-out;
  padding: 0.1rem 1rem;

  &:hover {
    background-color: $special-color;
    color: $base-color;
    transition: all 0.4s ease-in-out;
  }
}

.is-24 {
  width: 24px;
}

.is-300 {
  width: 300px;
}

.is-margin-img {
  margin: 0 auto;
  display: block;
}

.uk-grid {
  margin-left: 0;
}

header {
  background: $overlay, url(../img/hero-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  .uk-logo {
    img {
      max-height: 2.75rem;
    }
  }

  .uk-navbar-nav {
    li {
      a {
        color: $base-color;
        min-height: auto;
      }

      &:hover > a,
      & > a.uk-open,
      & > a:focus {
        color: $special-color;
      }
    }
  }

  .uk-navbar-dropdown-nav {
    li {
      a {
        color: $dark-color;
      }

      &.uk-active {
        a {
          color: $special-color;
        }
      }
    }
  }
}

#s-hero {
  min-height: 70vh;

  h1 {
    color: $base-color;
    font-size: 7rem;

    span {
      color: $special-color;
    }
  }

  p {
    color: $semi-dark-color;
    color: $base-color;
    font-size: 2rem;
  }
}

#s-contact {
  .uk-card-primary.is-special {
    background-color: $special-color;
  }
}

// RWD

@include s {
  #s-hero {
    h1 {
      font-size: 1rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

@include m {
  #s-hero {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

@include l {
  #s-hero {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
